<h1>Update Your Schedule</h1>

<%= form_for @schedule do |s| %>
    <%= s.label "Class Name" %><br>
<%= s.text_field :class_name %><br>
<%= s.label "Class Size" %><br>
<%= s.number_field :class_size %><br>
<%= s.label "Class Type" %><br>
<%= s.text_field :class_type %><br>
<%= s.label "Class Length" %><br>
<%= s.number_field :class_length %><br>
<%= s.label "Class Date and Time" %><br>
<%= s.date_select :class_time %><br>
<%= s.label "Coach Name" %><br>
<%= s.collection_select :coach_id, Coach.all, :id, :name %><br>
<% s.submit "Update Your Schedule" %>
<% end %> 


