<h1>The Schedule For All Classes </h1>


<ul>
<% @schedules.each do |c|  %>
<p><%=  c.class_name %><br></p>
<p><%=  c.class_type %><br></p>
<p><%=  c.class_time %><br></p>
<p> <%=  c.class_size %></p><br>
<p> <%=  c.class_length %></p><br>

<% end %>
