<h1>Your Coaches</h1>

<% if !!flash[:success] == true  %>
<h2><%= flash[:success] %></h2>
<% end %>
<h2><%="There are currently #{@count} coaches" %></h2>

<ul>
<% @coaches.each do |coach|  %>
<h3><%= link_to coach.name, coach %><br></h3>
<p class="coach"><%=  coach.company %><br></p>
<%=  coach.bio %><br>
<p><img src=<%= coach.img %> height='315px' width='350px'></p>





</ul>
<% end %>


