<h1>Add a Diet</h1>
<body>
<%= form_for @diet do |f| %>
<label> Diet Name </label><br>
<%= f.text_field :name, :size => "45" %><br>
<label> Description </label><br>
<%= f.text_area :description, cols: "45", rows: "10" %><br>
<%= f.collection_select :coach_id, Coach.all, :id, :name %><br>
<div><%= f.submit "Submit your diet!", :class => "button" %></div>
<% end %>
</body>


<style>
h1 {
  color: cadetblue;
  font-family: impact;
  font-size: 350%;
  text-align: center;
}

body{
    color: cadetblue;
    font-family: impact;
    font-size: 200%;
  text-align: center;
  background-color: ;

}

.input-element{
font-size: 100px; // for say a select
width: 400px;
}

.button{
  background-color: gainsboro;
  color: cadetblue;
  width: 150px;
  height: 65px;
  font-size: 17px;
  font-family: impact;
  border: 3px solid powderblue;
  border-radius: 8px;